# Ignore node_modules directory
**/node_modules/

# Ignore built files for React app
**/build/
**/dist/

# Ignore any logs
*.log

# Ignore environment files
.env

# Ignore yarn's lock file
yarn.lock

# Ignore any compiled TypeScript files
client/**/*.js
client/**/*.js.map

# Ignore any compiled SASS/SCSS files
client/**/*.scss
client/**/*.sass

# Ignore any IDE or editor-specific files
**/.vscode/
**/.idea/
**/*.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.swp
